.profile-area{
    padding: 80px 0;
}
.card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.img1 {
    background: darkgray;
}
.img1 img{
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 160px;
    background: white;
    height: 140px;
    border-radius: 15%;
    border: 2px solid #272B30;
}